<!-- displays details on each pub --> 
<li> <%= pubs.name %> <br>
     <%= pubs.brewery_type %> <br
     <%= pubs.street %> <br>
     <%= pubs.city %><br>
     <%= pubs.website_url %><br>
     <%= pubs.phone %> </li> 
      
<!--  add brewery to user favorites -->
<form method="POST" action="/favs">
    <input hidden value="<%= pubs.name%>" name="name"/>
    <input hidden value="<%= pubs.id %>" name="pubId"/>
    <button type="submit"> Add to your favorites</button>
</form>

<!-- view user comments -->
 <!-- <div>
     <ul>
        <% //comments.forEach(comment=>{ %>
             <li> <%= //pubs.name %> <br>
              <%= //user.comment%> <br>
          </li>
           
        <% //})%>
    
     </ul>
 </div> -->


<!-- add user comments -->
