<!-- lists information about a specific pub from user favorites-->
<div class="container my-5 text-center">
    <div class="col">
      <h2> Your Favorite Pubs</h2>
    </div>
  <div class="row align-items start">
    <div class="col">
<!-- list of fav pubs by ID -->
<!-- div on left -->
    <% user.pubs.forEach(pub =>{ %>
      <h4> <%= pub.name%> </h4>
      <div> <%= pub.street%> </div>
      <div> <%= pub.city%> </div>
      <div> <%= pub.state %></div>
      <div> Phone: <%= pub.phone %>  </div>
      <div> Website: <a href= "<%= pub.website_url %>" target="_blank"><%= pub.website_url %></a></div>
  
      </form>   
        <form method="POST" action="/pubs/<%= pub.id %>/?_method=DELETE">
        <input type="submit" class="btn btn-outline-danger btn-sm" value="Delete From Favorites">
      </form>
  </div>


  <div class="col accordian" id="accordionid="accordionExample"">

      <h5 class="accordion-header"> 
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"> Reviews:</button>
      </h5>
     
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordion">
      <%pub.user_notes.forEach(user_note=>{ %>
      <div class="accordion-body">
        <div>  
         <p> Visit Date: <%= user_note.visitDate %></p>
        </div> 
        <div>  
          <p> Pup Friendly: <%= user_note.pupFriendly %> </p> 
        </div>
        <div> 
          <p> Beer Rating: <%= user_note.beers %> </p>
        </div>
        <div> 
          <p> Food Rating: <%= user_note.food %> </p>
        </div>
        <div>
          <p> Other Comments: <%= user_note.comments %></p>
          <a href ="/user_notes/edit/<%= pub.id %>"> <button class="btn btn-outline-success btn-sm" > Edit Comments </button> </a> 
        </div>
        <% })%> 
    </div>    
      </div>
    </div>



<!-- div below -->
  <div class="row align-items-start">
   <h5> Add a new review:</h5>
    <h6> On a scale of 1 to 5 paws: </h6>
      <form method="POST" action="/user_notes">
    <div>  
      <label for="visitDate"> Visit Date:</label>
      <input type="date" name="visitDate"> 
    </div> 
    <div>  
      <label for="pupFriendly"> How pup friendly is this pub?:</label>
      <input type="number" max="5" min="0"name="pupFriendly">
    </div> 
    <div> 
      <label for="beers"> Were the beers tasty?:</label>
      <input type="number" max="5" min="0" name="beers" >         
    </div> 
    <div>   
      <label for="food">How was the food?:</label>
      <input type="number" max="5" min="0" name="food">
    </div>  
    <div>  
      <label for="comments">Other comments here:</label>
      <input type="text" name="comments">
    </div> 
    <div>
      <input hidden value= "<%= pub.id %>" name="pubId"/> 
      <input type="submit" class="btn btn-outline-success btn-sm"  value="Add your comments">
    </div>  
  </div>  

  <% }) %>

</div>

  


