<!-- show a list of pubs that match the user querie -->
<div class ="container-fluid">
<h1 class="display-5" >Pubs Near You :</h1>

<div>
    <ul>
       <% pubs.forEach(pub=>{ %>
            <li> <div class="fw-semibold"><%= pub.name %> </div> 
                <div class="fw-light"> <%= pub.street %> </div>
                <div class="fw-light"> <%= pub.city %> </div>
                <div class="fw-light"> <%= pub.state %> </div>
            <a href = "/pubs/details/<%= pub.id %>"> More Information</a>
            <br>
        </li>
       
       <% })%>
    
    </ul>
</div>
</div>